* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --cor-one: white;
    --cor-two: black;
    --cor-three: rgb(125, 93, 192);
    --cor-four: rgb(22, 216, 179);
    --cor-five: rgb(81, 46, 122);
    --success: rgb(22, 216, 179);
    --error: rgb(81, 46, 122);
}

.flex {
    display: flex;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-start-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

body .toast {
    position: absolute;
    color: #fff;
    top: 30px;
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--erro);
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 15px;
}

.toast.show {
    opacity: 1;
}

.menu-h2:hover {
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.wait-cursor {
    cursor: wait;
}

.box-loading {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: var(--cor-three);
    color: rgb(255, 255, 255);
    z-index: 3;
}

main form {
    gap: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--cor-one);
    border-radius: 10px;
    width: 80%;
    height: 70%;
}

main form input {
    font-size: 15px;
    width: 90%;
    height: 50px;
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
    border: 1px solid #C0CCDC;
    filter: drop-shadow(0px 20px 100px rgba(0, 0, 0, 0.073208));
    border-radius: 15px;
}

main form input:focus {
    font-size: 15px;
    color: var(--cor-five);
    outline: 2px solid var(--cor-five);
    color: #474747;
}


main form p {
    font-size: 30px;
    color: var(--cor-five);
}

main a {
    all: unset;
    color: var(--cor-five);
    cursor: pointer;
}

main form button {
    all: unset;
    background-color: var(--cor-one);
    border-radius: 8px;
    width: 120px;
    height: 25px;
    text-align: center;
    color: var(--cor-one);
    background: #512E7A;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.104922);
    border-radius: 15px;
    width: 90%;
    height: 50px;
    cursor: pointer;
}

main form button:active {
    color: var(--cor-four);
    outline: 2px solid var(--cor-five);
}

.icon-menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
