form {
    padding: 20px;
    gap: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--cor-one);
    border-radius: 10px;
    width: 50%;
    height: 80%;
    box-shadow: 5px 5px 8px 4px rgba(22, 22, 22, 0.179);
    /* background-color: var(--cor-four); */
}

form input {
    font-size: 15px;
    width: 80%;
    height: 50px;
    padding: 10px 25px;
    border: 0;
    border-radius: 10px;
    color: rgb(90, 1, 1);
}

form input:focus {
    font-size: 15px;
    color: var(--cor-five);
    outline: 2px solid var(--cor-five);
}

form p {
    font-size: 30px;
    color: var(--cor-five);
}

a {
    all: unset;
    color: var(--cor-five);
}

form button {
    all: unset;
    padding: 5px;
    background-color: var(--cor-one);
    border-radius: 8px;
    width: 120px;
    height: 25px;
    text-align: center;
    color: var(--cor-five);
}